@import "tailwindcss";

@layer theme {

  :root,
  :host {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    /* Red Scale */
    --color-red-50: #fce4e6;
    --color-red-100: #f9babe;
    --color-red-200: #f58e95;
    --color-red-300: #f0626c;
    --color-red-400: #eb3643;
    --color-red-500: #d6222e;
    --color-red-600: #b01c26;
    --color-red-700: #8a161e;
    --color-red-800: #631015;
    --color-red-900: #3d0a0d;

    /* Neutral Scale */
    --color-neutral-100: #f2f2f2;
    --color-neutral-200: #d9d9d9;
    --color-neutral-300: #bfbfbf;
    --color-neutral-400: #a6a6a6;
    --color-neutral-500: #8c8c8c;
    --color-neutral-600: #737373;
    --color-neutral-700: #595959;
    --color-neutral-800: #404040;
    --color-neutral-900: #262626;
    --color-black: #000;
    --color-white: #fff;
    --color-white: #fff;
    --spacing: .25rem;
    --container-7xl: 80rem;
    --text-xs: .75rem;
    --text-xs--line-height: calc(1 / .75);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --radius-2xl: 1rem;
    --radius-3xl: 1.5rem;
    --animate-pulse: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
    --aspect-video: 16 / 9;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-font-feature-settings: var(--font-sans--font-feature-settings);
    --default-font-variation-settings: var(--font-sans--font-variation-settings);
    --default-mono-font-family: var(--font-mono);
    --default-mono-font-feature-settings: var(--font-mono--font-feature-settings);
    --default-mono-font-variation-settings: var(--font-mono--font-variation-settings);
  }
}

/* Custom Scrollbar Styles */
@layer base {

  /* Global: Hide scrollbars everywhere */
  :root {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
  }

  ::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari/Webkit */
  }
}